/* Estilos generales del header */
.header {
    display: flex;
    justify-content: space-between; /* Espacio entre el logo y la barra de navegación */
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

/* Estilo del logo */
.logo-img {
    height: 40px;
    width: auto;
}

/* Estilos para la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.1em;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #555;
}

/* Estilos de la barra de búsqueda */
.search-container {
    display: flex;
    align-items: center;
    background-color: #444;
    padding: 5px;
    border-radius: 20px;
    margin-left: 20px;
    transition: all 0.3s ease;
}

.search-input {
    border: none;
    padding: 10px;
    width: 250px; /* Ancho inicial de la barra */
    border-radius: 15px;
    outline: none;
    background-color: #fff;
    color: #333;
    font-size: 1em;
    transition: width 0.4s ease; /* Efecto suave al cambiar el ancho */
}

/* Efecto al hacer hover sobre el campo de búsqueda */
.search-input:hover {
    width: 300px; /* Se expande al pasar el mouse */
}

.search-input:focus {
    width: 350px; /* Se expande más al hacer foco */
}

/* Estilos del botón de búsqueda */
.search-btn {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 10px;
    margin-left: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Efecto hover en el botón de búsqueda */
.search-btn:hover {
    background-color: #2980b9;
}

.search-btn:focus {
    outline: none;
}